<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent> 
            <remove fileExtension =".otf"/> 
            <mimeMap fileExtension=".otf" mimeType="font/otf" /> 
            <remove fileExtension =".ttf"/> 
            <mimeMap fileExtension=".ttf" mimeType="font/ttf" /> 
        </staticContent>
    </system.webServer>
</configuration>